.faq-item {
  position: relative;
  cursor: pointer;
}

.faq-item .faq-detail {
  display: none; 
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
  margin-top: 10px;
  top: 100%; 
  left: 0;
  width: 100%;
}

.faq-item:hover .faq-detail {
  display: block;
}
