@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll-Bar */
body {
  scrollbar-width: thin;
  scrollbar-color: #8b0bb5 #2e2e2ed7;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #2e2e2ed7;
}
::-webkit-scrollbar-thumb {
  background: #8b0bb5;
  border-radius: 20px;
  border: 3px solid #2e2e2ed7;
}

::-webkit-scrollbar-thumb:hover {
  background: #c053e6dd;
}

/* BackToTop Button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #a855f7;
  color: #333;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.1s ease;;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px; 
}

.back-to-top.show {
  opacity: 1;
}

.back-to-top:hover {
  background-color: #333;
  color: #fff;
}

.back-to-top:focus {
  outline: none;
}

.back-to-top:active {
  transform: translateY(2px);
}

.back-to-top i {
  font-size: 20px; 
}
