.mode_change *,
.mode_change ::after,
.mode_change ::before {
  box-sizing: border-box;
}
.mode_change{margin-top: 0.6rem;}
/* The switch - the box around the slider */
.mode_change .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.mode_change .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: 
#f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.mode_change .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

.mode_change input:checked + .slider {
  background-color: 
#303136;
}

.mode_change input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: 
#303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px 
#8983f7, inset -10px -4px 0 0 
#a3dafb;
}
.dark #nav{backdrop-filter: blur(15px); background: transparent;} .dark #heading{color: white;} 
.dark #background,.dark #container_back{filter: invert(1)}
.dark #container_back{background-color: black;color: white;border: solid white;border-width: 1px;}
.dark #filter{background-color: transparent;}
.dark #nav{background-color: transparent;backdrop-filter: blur(12px);}
.dark #footer_img_container,.dark #a,.dark .mt-4 span, .dark,.dark #Box{ color: white; background-color: black; } 
.dark span,.dark h3,.dark #special,.dark h2{color: white;}
.dark #text,.dark #color{color: black;}
#navigation_bar{
  position: absolute;
  width: 100%;
  top: 6.1rem;
  left: 0;
  right: 0;
  background-color: white;
}
.dark #navigation_bar{background-color: black;}