.mode_change *,
.mode_change ::after,
.mode_change ::before {
  box-sizing: border-box;
}
/* The switch - the box around the slider */
.mode_change .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.mode_change .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: 
#f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.mode_change .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

.mode_change input:checked + .slider {
  background-color: 
#303136;
}

.mode_change input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: 
#303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px 
#8983f7, inset -10px -4px 0 0 
#a3dafb;
}
#nav{margin-right: 1rem;width: 100%;}
#nav div{margin-right: 1rem;}
input{color: black;}
#navigation_bar{position: absolute;top: 5.55rem;background-color: white;width: 100%;right: 0;left: 0;display: flex;justify-content: center;align-items: center;flex-direction: column;}
#navigation_bar a,#navigation_bar div{width: 90%;}
.dark #navigation_bar{background-color: black;}
.dark #nav{background-color: black;backdrop-filter: blur(15px);color: white;}
.dark{color: white;background-color: black;}
.dark #background,.dark #container_background,.dark #container_back svg{color:black;filter: invert(1);}
.dark #container_background{padding: 0 1.5rem 0 0.5rem;}
.dark #heading,.dark #background form button,.dark #form,.dark #form svg,.dark #form div:first-child button:first-child svg{filter: invert(1);}
.dark #container_back{filter: invert(1);background-color: black;border-color: white;}
.dark #container_back span,.dark #container_back h2,.dark #container_back p,.dark #container_back a{color: white;}
.dark #container_back a{border-color: white;}
.dark .mb-2{color: white;}
.dark #filter{background-color: transparent;}
.dark #Box{background-color: black;}