.main {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 100vh;
  color: rgb(211, 211, 211);
}

@media (max-width: 768px) {
  .main {
    height: 80vh;
    margin-bottom: 80vh;
    padding-bottom: 10vh;
  }
}

.body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.body p {
  font-size: 3.5vw;
  margin: 0px;
  margin-right: 1.5vw;
  font-weight: 700;
}

.body span {
  opacity: 0.2;
}

/* Glowing Circle */
@keyframes glow {
  0% {
    box-shadow:
      0 0 5px #00ff00,
      0 0 10px #00ff00,
      0 0 15px #00ff00,
      0 0 20px #00ff00;
  }

  50% {
    box-shadow:
      0 0 10px #00ff00,
      0 0 20px #00ff00,
      0 0 30px #00ff00,
      0 0 40px #00ff00;
  }

  100% {
    box-shadow:
      0 0 5px #00ff00,
      0 0 10px #00ff00,
      0 0 15px #00ff00,
      0 0 20px #00ff00;
  }
}

.glow-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00ff00;
  border-radius: 50%;
  margin-right: 5px;
  animation: glow 2s infinite;
}
